.c-btn--secondary {
    background-color: color("white");
    color: color("blue-900");
    border: 1px solid color("grey-400");

    &:hover {
        background-color: color("white");
        opacity: .7;
    }

    &:active {
        opacity: 1;
        border: 1px solid color("grey-400");
        background-color: color("grey-100");
    }
}