.c-btn--form {
    text-transform: initial;
    font-size: 1.8rem;
    border-radius: .8rem;
    padding: 1.6rem;
    min-height: auto;
    height: auto;
    justify-content: space-between;
    align-items: center;
}